{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-6 mt-5">
        <h1>Quienes somos</h1>
    </div>
    <div class="col-6 mt-5">
        <p>OnlyFlans es una empresa enfocada en el mundo de la pastelería y los postres, en especial
            en la venta de flan(de ahí su nombre), nace en 2021 en santiago de chile como una empresa
            familiar que pretende entregar productos de calidad a su clientela, estando ubicada en
            providencia, a pasos del metro Parque Bustamante.</p>
    </div>

    <div class="col-6 mt-5">
        <h1>Historia</h1>
    </div>
    <div class="col-6 mt-5">
        <p>
            "OnlyFlans" es una parodia humorística que se originó como un juego de palabras inspirado en la plataforma
            OnlyFans, conocida por permitir a los creadores de contenido monetizar su trabajo a través de suscripciones
            de pago. El término "flans" hace referencia al postre popular en muchos países hispanohablantes, que es
            similar a un flan o pudín.
        </p>
    </div>

    <div class="col-6 mt-5">
        <h1>Origen y Popularización</h1>
    </div>
    <div class="col-6 mt-5">
        <p>El meme de "OnlyFlans" comenzó a circular en redes sociales y comunidades en línea, como Twitter, Instagram y
            TikTok, donde usuarios compartían imágenes, videos y comentarios relacionados con la idea de un "OnlyFlans"
            como si fuera una versión ficticia de OnlyFans dedicada exclusivamente a la venta o promoción de flanes.
            Esto incluía contenido humorístico que pretendía imaginar un sitio web o servicio donde los usuarios
            compartieran recetas, imágenes o videos de flanes.

            La popularidad de este meme aumentó debido a su carácter absurdo y su capacidad de hacer reír mediante el
            juego de palabras. Además, al ser un concepto relacionado con algo tan cotidiano como un postre, resultaba
            fácil de entender y compartir</p>
    </div>
</div>

{% endblock %}