{% extends 'base.html' %}

{% block content %}

<h1>Todos los Flanes</h1>
<div class="row">
    {% for flan in flanes %}
    <div class="col">
        <div class="card text-bg-info mb-3" style="width: 20rem;">
            <img src="{{flan.image_url}}" class="card-img-top image-card " alt="...">
            <div class="card-body">
                <h5 class="card-title">{{flan.name}}</h5>
                <p class="card-text">{{flan.description}}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}