{% load static %}


    <div class="footer-clean" style="background-color:#ceb1f1;">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Services</h3>
                        <ul>
                            <li><a href="{% url 'contact' %}">Contacto</a></li>
                            <li><a href="#">Development</a></li>
                            <li><a href="{% url 'index' %}">Home</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a href="{% url 'about' %}">Company</a></li>
                            <li><a href="#">Team</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>OnlyFlans</h3>
                        <p>OnlyFlans es una empresa enfocada en el mundo de la pastelería y los postres, en especial
                            en la venta de flan(de ahí su nombre), nace en 2021 en santiago de chile como una empresa
                            familiar que pretende entregar productos de calidad a su clientela, estando ubicada en
                            providencia, a pasos del metro Parque Bustamante.</p>
                    </div>
                    <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
                </div>
                <p class="copyright">Company OnlyFlans © 2024</p>
            </div>
        </footer>
    </div>
 